.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}